/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */
html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select,textarea{margin:0}html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}img,embed,iframe,object,audio,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0;text-align:left}

body {

	margin: 0px;
	/*background-color: #000000;*/
	overflow: hidden;
	font-family: "Chivo", sans-serif;
	font-size: .9em;
	letter-spacing: -.25px;
	-webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;

}

a {

	color: #1f1d1e;
	text-decoration: none;
	margin: 0;
	padding: 0;
	border: 0;

}

.wrapper {
	margin-right: auto; /* 1 */
	margin-left:  auto
}

/*------Header------*/

header {
	position: fixed;
	top:0;
	/*margin: 0;*/
	width: 100%;
	height: 125px;
	font-size: 200%;
	background-color: rgba(255,255,255,.75) ;
	border-bottom: 1px solid black;
	z-index: 500;
	/*margin: 25px 0px 0px 25px;*/
}

h1 {
	display:inline-block;
	font-size: 100%;
	margin: 25px 0px 0px 25px;
}

a {
	color:inherit;
	text-decoration: inherit;
}

#eng-name {
	display: inline-block;
	z-index: 1
}

a:hover #eng-name{
	display: none;
}

 #rus-name {
	display: none;
}

a:hover #rus-name {
	display: inline-block;
	z-index: 2
}

nav {
	float:right;
	display:inline-block;
	margin: 25px 25px 0px 0px;
}

nav li {
	display:inline;
	margin-left: 40px;
	cursor: pointer;
}

nav li:hover {

	text-decoration: underline;
	color: blue;

}

.description {
	display: inline-block;
	position: fixed;
	left:25px;
    bottom: 25px;
	z-index: 0;
    /*width: 100%;*/
    font-size: 200%;
}

/*------About------*/

p {
	margin-bottom: 25px;
	line-height: 150%;
}

#reel {

	position: fixed;
	right: -50%;
	z-index: 0;
	width: 0%;
	height: 100%;
	padding: 150px 25px 25px 25px;
	font-size: 150%;
	overflow: scroll;
	background-color: rgba(255,255,255,.80);
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
	/*background-color: black;*/

}

#reel.reelOn {

	right:0;
	width: 100%;
	height:100%;

}

/*.reel-container {

	position: relative;
    padding-bottom: 45%;
    height: 0;
    overflow: hidden;

}*/

iframe {

	position: relative;
    top:150;
    left: 0;
    width: 100%;
    height: 100%;

}

/*------About------*/

#about a {
    	display: inline-block;
    	border-bottom: 2px solid;
    	border-color: rgb(140,140,140);
}

#about {

	position: fixed;
	right: -50%;
	z-index: 0;
	width: 0%;
	height: 100%;
	padding: 150px 25px 25px 25px;
	border-left: 1px solid black;
	font-size: 150%;
	overflow: scroll;
	background-color: rgb(255,255,255);
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;

}

#about::-webkit-scrollbar {
	
	display: none;

}

#about.aboutOn {

	right:0;
	width: 50%;

}

/*Exponent Text ('17)*/
sup {

	/*font-size:.3em;*/
	left:100px;

}

.tooltip {

    position: relative;
    display: inline-block;
    border-bottom: 2px solid blue;
    padding-bottom: -20px;
    border-color: rgb(140,140,140);
    opacity: 1;

}

.tooltip .tooltiptext {

    visibility: hidden;
    width: 140px;
    background-color: white;
    color: blue;
    text-align: center;
    padding: 5px 7px;
    border: 1px solid black;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -70px;
    opacity: 0;
    font-size: 75%;
    line-height: 115%

}

.tooltip:hover .tooltiptext {

    visibility: visible;
    opacity: 1;

}

.tooltip .tooltiptext.diamonds{

	background-image: url("textures/diamonds.jpg");
	background-size: 166px 133px;
	width: 166px;
	height: 133px;
	padding: 0;

}

.tooltip .tooltiptext.ai{

	background-image: url("textures/ai.jpg");
	background-size: 166px 133px;
	width: 166px;
	height: 133px;
	padding: 0;

}

.tooltip .tooltiptext.media{

	background-image: url("textures/media.jpg");
	background-size: 166px 133px;
	width: 166px;
	height: 133px;
	padding: 0;

}

.close-button {

    z-index: 20;
    margin-bottom: 25px;
    float: right;
    cursor: pointer;
    transition: all .1s ease-in-out;
   -moz-transition: all .1s ease-in-out;
   -webkit-transition: all .1s ease-in-out;

}

.close-button:hover {

	color: blue;
	text-indent: -5px;

}


@media screen and (max-width:768px){


	html, body {

		/*font-size: .9em;*/
		overflow-x: hidden;
		overflow-y: hidden;

	}

	header {
		/*padding-bottom: 25px;*/
		width: 100%;
		font-size: 150%;
		height: 90px;
		/*height: 100px;*/
	}

	h1 {
		display: block;
		font-weight: 700;
		/*text-align: center;*/
		margin: 12.5px 25px 0px 15px;
	}

	nav {
		float: none;
		display:block;
		margin: 10px 25px 0 15px;
	}

	nav li {
		float:left;
		margin: 0;
		/*display:block;*/
	}

	.about-button {
		margin-left: 15px;
	}

	.projects-button {
		margin-left: 15px;
	}

	.description {

	    font-size: 150%;
	    left: 15px;
    	bottom: 15px;

	}

	#about {
		letter-spacing: 0px;
		font-size: 115%;
		padding: 105px 15px 0 15px;
		border-left: none;
	}

	#about.aboutOn {

		width: 100%;

	}

}
